<section>
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Investment &nbsp; ${{ investmentSum }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div>
      <ul *ngFor="let i of investmentRes" class="list-group">
        <li class="list-group-item">
          <p style="text-align: left">
            {{ i.companyName }} &nbsp;
            <span style="float: right">
              ${{ i.amount }} {{ i.accountType }} &nbsp; <br />Time: 12 mins
            </span>
          </p>
        </li>
      </ul>
    </div>
  </mat-expansion-panel>
</section>
