<section>
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title id='investment'>
        <div>Investment</div>
        <div>${{ investmentSum }}</div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    
    <div>
      <ul *ngFor="let i of investmentRes"  class="list-group" >
        <ul style="list-style-type:none;" class="list-group-item">
          <p id='investment'>
            <li>{{ i.companyName }}</li>
            <li>${{ i.amount }}</li>
            
          </p>
          <p id='investment' style='line-height: 0.5'>
            <li>{{ i.accountType }}</li>  
            <li>Time: 12 mins</li>
          </p>
        </ul>
      </ul>
    </div>
    </mat-expansion-panel>
    </section>

