<section>
    <section>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            YOUR GAINERS
          </mat-expansion-panel-header>

          <ng-template matExpansionPanelContent>
            <ul *ngFor="let i of gainersRes" class="list-group">
                <ul style="list-style-type:none;" class="list-group-item">
                    <p id='market-movers'>
                        <li>{{i.companyName}}</li>
                        <li>{{i.percentChange}}%</li>
                    </p>
                </ul>
            </ul>
          </ng-template>
        </mat-expansion-panel>
    </section>

    <section>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            YOUR LOSERS
          </mat-expansion-panel-header>

          <ng-template matExpansionPanelContent>
                <ul *ngFor="let i of losersRes" class="list-group">
                    <ul style="list-style-type:none;" class="list-group-item">
                        <p id='market-movers'>
                            <li>{{i.companyName}}</li>
                            <li>{{i.percentChange}}%</li>
                        </p>
                    </ul>
                </ul>
          </ng-template>
        </mat-expansion-panel>
    </section>
</section>
