<section>
    <section>
        <hr>
        <h5>YOUR GAINERS</h5>
        <hr>
        <ul *ngFor="let i of gainersRes" class="list-group">
            <ul style="list-style-type:none;" class="list-group-item">
                <p id='market-movers'>
                    <li>{{i.companyName}}</li>
                    <li>{{i.percentChange}}%</li>
                </p>
            </ul>
        </ul>
    </section>

    <section>
        <hr>
        <h5>YOUR LOSERS</h5>
        <hr>
        <ul *ngFor="let i of losersRes" class="list-group">
            <ul style="list-style-type:none;" class="list-group-item">
                <p id='market-movers'>
                    <li>{{i.companyName}}</li>
                    <li>{{i.percentChange}}%</li>
                </p>
            </ul>
        </ul>
    </section>
</section>
