<h1>Portfolio Manager</h1>
<article class="main-grid-container">
  <div style="background-color: Bisque">
    <app-net-worth></app-net-worth>
    <div>
      <app-cash-flow></app-cash-flow>
    </div>
    <div style="background-color: Bisque">
      <app-cash-investment></app-cash-investment>
    </div>
  </div>
<div>
  <app-line-chart></app-line-chart>
  <app-doughnut-chart></app-doughnut-chart>
  <app-other-doughnut-chart></app-other-doughnut-chart>
</div>

<div style="background-color: Bisque">
  <h2>Market Movers</h2>
  <app-market-movers ></app-market-movers>
</div>
</article>
