<section>
    <h2>
        Cash &nbsp; ${{cashSum}}
    </h2>
    <hr>
    <div>
        <ul *ngFor="let i of cashRes" class="list-group">
            <li class="list-group-item">
                <p style="text-align:left;">
                    {{i.companyName}}  &nbsp;  
                    <span style="float:right;">
                    ${{i.amount}} {{i.accountType}}  &nbsp;  <br>Time: 12 mins
                    </span>
                </p>
            </li>
        </ul>
    </div>
</section>
